<div class="main events-index">
  <div class="container">
    <div class="events-index-item">
      今日からProgateでRailsの勉強するよー！
    </div>
    <div class="events-index-item">
      投稿一覧ページ作成中！
    </div>
  </div>
</div>